#truth_wall {
	max-width: 1000px;
    min-width: 1000px;
    min-height: 200px;
	margin: auto;
}

#truth_window {
	width: 100%;
	min-height: 200px;
    max-height: 200px;
    background-color: maroon;
	display: inline-flex;
}

#truth_button {
    margin: auto;
}